{% extends 'base.html' %}

    <!-- 이 html에 추가되는 CSS -->
    {% block css %}
    <style>
    .csCenterTitle{
        margin: 80px 90px 0;
        color:#726C7B;
        font-weight: bold;
        font-size: 3vw;
    }
    .csCenter{color:#9f97b1;}
    .accordion{
      display: flex;
      flex-direction:column;
    }
    .accordion-button{
      width: 800px;
      height: 40 px;
      padding: 10px;
      border-color: #ADAAB1;
      border-width:2px;
      background-color: #FFFFFF;
      margin: 0px;
      text-align:left;
      position:center;
      color:#726C7B;
    }
    </style>
    {% endblock %}



    <!--본문 내용-->
    {% block content %}
        
    {% load static %}

    <div>
        <div class="csCenterTitle">
            <span class="csCenter">
            고객센터</span>
        </div>
        <hr><br><br>

        <div class="accordion" id="accordion">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" href="자주 묻는 질문 링크" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 자주 묻는 질문
                </button>
              </h2>
   
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed btn-block" href="직접 문의하기" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  직접 문의하기
                </button>
              </h2>
            </div>
          </div>
    </div>
    {% endblock %}