{% extends 'base.html' %}

    <!-- 이 html에 추가되는 CSS -->
    {% block css %}
    <style>
        /* 현재 카테고리 설명하는 부분 */
        .container{
            width:30%;
            margin:10px auto;
            
            display: flex;
            flex-direction:column;
            justify-content: center;
            text-align: center;
            box-sizing: border-box;
            
        }
        .currentCategory{
            margin-top: 0;
            color:#726C7B;
            text-align: center;
            font-size:45px;
           
        }
        /* 입력창*/
        .id_area{
            margin:0;
            color:#726C7B;
            text-align: left;
            
        }
        .id_area input{
            height:63px;
            width: 100%;
            padding:5px 25px;
            border: 2px solid #a9a1bd; 
            border-radius: 10px;
            font:21px solid;
            color:#726C7B;
            background-color:#EFECF4;
        }
        .id_area p{
            margin:0;
        }
        /*인증번호 전송,계정 연동, 회원가입 완료 클릭 버튼*/
        .log_login {
            width:100%;
            height:63px; 
            font-size: 21px;
            color:white;
            padding: 3px 10px 2px;
            background-color: #BEB5D3;
            border: 2px solid #BEB5D3;
            border-radius: 10px;
            margin-bottom: 5px;
            }
        .log_login:hover{
            font-weight: bold; 
            color:#BEB5D3; 
            background-color: white;
        }
        /* 계정 연동 창 */
        .link_account{
            text-align: left;
            font: #726C7B;
        }
        .link_account h2{
            margin-top:20px;

        }
        /* 계정 선택 창 */
        .account{
            width:100%;
            height:63px; 
            padding: 3px 10px 2px;
            margin-bottom: 5px;
            border: 2px solid #a9a1bd; 
            border-radius: 10px;
            font:21px solid;
            color:#726C7B;
            background-color:#EFECF4;
            text-align: left;
        }
        .config_cancel{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .config_cancel input{
            flex-basis:49%;
        }
    </style>

    {% endblock %}
    
    <!--본문 내용-->
    {% block content %}
    <div class="container">
        <div class="currentCategory">
            <h1><br>회원가입</h1><br>
        </div>
        <br>
        <form action="전송받을 대상" method="POST">
            <!-- 아이디/비번 입력 창-->
            <div class="id_area">
                <label>이름</label><br>
                <input type="text" name="id">
                <p>이미 사용중인 이름입니다.</p>
            </div>

            <br>
            <div class="id_area">
                <label>이메일</label><br>
                <input type="text" name="email">
                <p>이미 사용중인 이메일입니다.</p>
            </div>
            <br>

            <div class="id_area">
                <label>비밀번호</label><br>
                <input type="password" name="password">
                <p>* 숫자, 영문, 특수문자를 사용하여 최소 8자리 이상 입력하세요.<br>
                    * [ ] \ 는 사용할 수 없습니다.</p>
            </div>
            <br>
            <div class="id_area">
                <label>비밀번호 확인</label><br>
                <input type="password" name="password_config">
            </div>
            <br>

            <div class="id_area">
                <label margin-bottom=0;>전화번호</label><br>
                <input type="text" name="phone_number">
            </div>
            <br>
            <!--인증번호 전송 버튼-->
            <input type="submit" title="인증번호 전송" alt="인증번호 전송" value="인증번호 전송" class="log_login">
            <br>
            <!--인증번호 입력창-->
            <div class="id_area">
                <input type="text" name="phone_number" placeholder="인증번호를 입력해주세요">
            </div>
            <br>
            <!-- 계정연동 버튼 -->
            <input type="submit" title="계정 연동" alt="계정 연동" value="계정 연동" class="log_login">
            <br>
            <!--회원가입완료 버튼-->
            <input type="submit" title="회원가입 완료" alt="회원가입 완료" value="회원가입 완료" class="log_login">
        </form>
        <div class=link_account>
            <h2>
                계정연동 하시겠습니까?
            </h2>
            <p>반려동물 계정 1개를 연결해주세요.</p>
            <!--회원가입완료 버튼-->
        
            <input type="submit" title="페이스북" alt="페이스북" value="페이스북" class="account">
            <input type="submit" title="트위터" alt="트위터" value="트위터" class="account">
            <input type="submit" title="인스타그램" alt="인스타그램" value="인스타그램" class="account">
            <div class="config_cancel">
                <input type="submit" title="확인" alt="확인" value="확인" class="log_login">
                <input type="submit" title="취소" alt="취소" value="취소" class="log_login">
            </div> 
        </div>
        <div class=link_account>
            <h2>
                계정연동 하시겠습니까?
            </h2>
            <p>반려동물 계정 1개를 연결해주세요.</p>
            <!--회원가입완료 버튼-->
        
            <div class="id_area" style="margin:50px 0px 150px 0px">
                <label style="font-size: 21px;" >페이스북</label><br>
                <input type="text" name="id" placeholder="URL을 입력해주세요">
                
            </div>

            <div class="config_cancel">
                <input type="submit" title="확인" alt="확인" value="확인" class="log_login">
                <input type="submit" title="취소" alt="취소" value="취소" class="log_login">
            </div> 
        </div>
        
        
    </div>
    {% endblock %}